.admin-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;

    transition: transform 0.3s;

}