.MuiCheckbox-root {
    color: inherit !important;
}

.MuiCheckbox-root.Mui-disabled {
    color: lightgray !important;
}


/* .MuiTableCell-root::-ms-value="enter tranaction no" div{
    color: lightgray !important;
} */

.declare_btn_container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0px;
    margin-top: 30px;
}

.declare_btn {
    background-color: var(--primary-color);
    border: none;
    display: flex;
    padding: 10px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
}

.caution_container {
    color: red;
    padding: 30px;
    width: 80%;
    height: 200px;
    background-color: #E6E6E6;
    border-radius: 7px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 0 auto;
}

.caution_container_footer {
    width: 100%;
    justify-content: center;
    display: flex;
}

.input-field::placeholder {
    color: black;
}

.input-field::placeholder::after {
    content: "*";
    color: red;
    margin-left: 2px;
}